# Node
node_modules/
npm-debug.log*
package-lock.json

# Playwright / test artifacts
playwright-report/
test-results/
debug/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temp office files
~$*
